* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif
  }
  
  body {
    overflow-y: scroll;
  }
  
  h1 {
    text-align: center;
  }
  
  .accordion {
    font-size: 17px;
    margin: 0 20px;
  }
  
  .accordion__button {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: inherit;
  }
  
  .accordion__button span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #000;
    font-size: 15px;
  }
  
  .accordion__button:focus {
    outline: none;
  }
  
  .accordion__content {
    padding: 0 20px;
    opacity: 0;
    transition: all .5s;
    height: 0;
    margin: 0;
    margin-top: -10px;
    border: 1px solid #f1f1f1;
    border-top: 0;
  }
  
  .accordion__content.active {
      height: auto;
      opacity: 1;
      padding: 20px;
  }